<div class="footer-wrapper ta-center">
  <a href="https://www.instagram.com/">{{> insta-icon width="18px" class="insta-logo-nav" }}</a>
  <a href="https://www.facebook.com/"><img src="images/facebook-logo.svg" class="facebook-logo-nav" alt=""></a>
  <p class="contenta-doodles">Contenta Doodles</p>
  <p class="padding-bottom">
    Santa Cruz, CA<br />
    contentadoodles@gmail.com<br />
    413-441-0091
  </p>
</div>