<div class="desktop-nav-wrapper">
  <div class="doodles-name-logo">Contenta Doodles</div>
  <div class="nav-links">
    <a href="">Adopt</a>
    <a href="">Puppies</a>
    <a href="">Parents</a>
    <a href="">Information</a>
    <a href="">Contact</a>
  </div>
  <div>
    <a href="https://www.instagram.com/">{{> insta-icon width="18px" class="insta-logo-nav" }}</a>
    <a href="https://www.facebook.com/"><img src="images/facebook-logo.svg" class="facebook-logo-nav" alt=""></a>
  </div>
</div>