<div class="contact-wrapper">
    <div class="text-wrapper margin-top margin-bottom">
        <div>
            <p class="header mb-xs">Questions or Comments?</p>
            <p>We would love to hear from you. Please allow 24 - 48<br /> hours for a response.</p>
        </div>
        <div>
            <p><strong>Email:</strong><br />
                <a href="mailto: contentadoodles@gmail.com">contentadoodles@gmail.com</a><br /><br />

                <strong>Phone:</strong><br />
                <a href="tel:1-123-456-7890">(123) 456-7890</a>
            </p>
        </div>
    </div>
</div>