<div class="future-litters-wrapper">
    <div class="header-image mb-xl">
        <h1 class="title">Future Litters</h1>
    </div>
    <div class="ta-center line-height">
        <div class="image-wrapper mb-xs">
            <div class="image-dog-1 margin-right" alt=""></div>
            <div class="image-dog-2" alt=""></div>
        </div>
        <h2 class="mb-xxs">Henry x Goldie</h2>
        <p class="mb-m">Coming Spring 2021<br />
            Mini F1b Goldendoodle Litter<br />
            20-30 lbs
        </p>
        <div class="image-wrapper mb-xs">
            <div class="image-dog-3 margin-right" alt=""></div>
            <div class="image-dog-4" alt=""></div>
        </div>
        <h2 class="mb-xxs">Jackson x Macy</h2>
        <p class="mb-m">Coming Fall 2021<br />
            Cavapoo Litter<br />
            10-20 lbs
        </p>
        <p class="mb-xxs">If you’d like to be added to the waitlist, please fill out a puppy application.</p>
        <button class="button mb-xl">PUPPY APPLICATION</button>
    </div>
</div>