<div class="pastlitters-wrapper ta-center">
    <div class="mb-m margin-top">
        <h1 class="font-black mb-xxs">Past Litters</h1>
        <div class="row">
            <div class="column">
                <img src="images/fluffy-puppy.jpg">
                <img src="images/two-pups.jpg">
                <img src="images/newborns.jpg">
                <img src="images/pup-bottle.jpg">
                <img src="images/puppy-bow.jpg">
                <img src="images/sleeping.jpg">
            </div>
            <div class="column">
                <img src="images/puppy-litter.jpg">
                <img src="images/puppy-surf.jpg">
                <img src="images/puppy-shirt.jpg">
                <img src="images/puppy-cute.jpg">
                <img src="images/tiny-puppy.jpg">
                <img src="images/dog-home.jpg">
            </div>
        </div>
    </div>
</div>