<div class="faq-wrapper">
    <div class="header-image mb-s">
        <h1 class="title font-black">Supply List</h1>
    </div>
    <div class="text-wrapper">
        <div class="mb-xl">
            <div class="mb-xs">
                <p class="header mb-xxs">Adjustable Crate</p>
                <a
                    href="https://www.amazon.com/New-World-Folding-Leak-Proof-Measures/dp/B01DLS2EYM/ref=sr_1_7?dchild=1&keywords=Dog+crate&qid=1617208543&sr=8-7">Folding
                    Metal Dog Crate</a><br>
                <a
                    href="https://www.amazon.com/Paws-Pals-Double-Doors-Folding-Designed/dp/B00IGEP5QG/ref=sr_1_12?dchild=1&keywords=Dog+crate&qid=1617208627&sr=8-12">Crate
                    for small dogs</a>
                </p>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs">Exercise Pen</p>
                <a
                    href="https://www.amazon.com/MidWest-Foldable-Metal-Exercise-Playpen/dp/B00377WL46/ref=sr_1_5?dchild=1&keywords=exercise+pen+dog&qid=1617209052&sr=8-5">Exericise
                    pen with door</a><br>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs">Shampoo</p>
                <a href="">Burt's Bees Shampoo</a><br>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs">Dog Bowls</p>
                <a href="">Set of dog bowls</a><br>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs">Toys</p>
                <a href="">Variety pack</a><br>
                <a href="">Snuggle Puppy</a><br>
                <a href="">Squeak balls</a><br>
            </div>

            <div class="mb-xs">
                <p class="header mb-xxs">Food and Treats</p>
                <a href="">Wellness Puppy Kibble</a><br>
                <a href="">Bully sticks</a><br>
                <a href="">Puppy training treats</a><br>
            </div>

        </div>
    </div>
</div>