<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="hair studio, barber, barbershop, haircut, hair salon, santa cruz, capitola" />
  <meta name="description"
    content="Come visit us for your haircut needs right by the beach in the heart of sunny Capitola Village." />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>{{ title }}</title>
  <link rel="shortcut icon" type="image/jpg" href="images/favicon.jpg" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Shippori+Mincho+B1:wght@400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/app.css" />
</head>

<body data-page="{{ template }}">
  <div class="page-wrapper">
    {{> nav isHome=isHome isStylists=isStylists isContact=isContact }}
    {{{body}}}
    {{> footer }}
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="
https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js"></script>
<script src="javascripts/index.js"></script>

</html>
