/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: normal; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[data-page="home"] {
  font-size: 20px;
  /* Mobile Styles */ }
  [data-page="home"] .main-salon-image-wrapper {
    background-color: black;
    width: 100%;
    height: 510px;
    margin-bottom: 70px;
    position: relative; }
  [data-page="home"] .main-salon {
    width: 100%;
    object-fit: cover;
    height: 510px;
    opacity: 0.5; }
  [data-page="home"] .image-text {
    color: white;
    text-align: left;
    position: absolute;
    bottom: 19%;
    left: 5%; }
  [data-page="home"] .image-header {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 28px; }
  [data-page="home"] .slogan {
    padding-right: 2%;
    width: 490px; }
  [data-page="home"] .home-text-box {
    font-size: 20px;
    margin: 0 auto 50px;
    line-height: 24px; }
  [data-page="home"] .our-services {
    margin-bottom: 70px; }
  [data-page="home"] .element-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 70px; }
  [data-page="home"] .photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 50px; }
    [data-page="home"] .photo-grid .image-right-center {
      background-position: right center; }
    [data-page="home"] .photo-grid .image-center-center {
      background-position: top center; }
    [data-page="home"] .photo-grid .grid-item {
      width: calc(25% - 15px);
      padding-bottom: calc(25% - 15px);
      background-size: cover;
      margin-bottom: 17px;
      margin-right: 15px; }
      [data-page="home"] .photo-grid .grid-item:last-child, [data-page="home"] .photo-grid .grid-item:nth-child(4) {
        margin-right: 0; }
  [data-page="home"] .yellow-fill {
    fill: #f3ce66; }
  @media only screen and (max-width: 840px) {
    [data-page="home"] .image-header {
      font-size: 40px;
      margin-bottom: 10px; }
    [data-page="home"] .mobile-margin-top1 {
      margin-top: -13px; }
    [data-page="home"] .mobile-margin-top2 {
      margin-top: 13px; }
    [data-page="home"] .slogan {
      width: auto;
      font-size: 16px;
      padding-right: 10%; }
    [data-page="home"] .image-text {
      bottom: 50px;
      left: 20px; }
    [data-page="home"] .element-image {
      height: 240px; }
    [data-page="home"] .main-salon-image-wrapper,
    [data-page="home"] .main-salon {
      height: 400px; }
    [data-page="home"] .photo-grid {
      padding: 0 10px; }
      [data-page="home"] .photo-grid .grid-item {
        width: calc(50% - 15px);
        padding-bottom: calc(50% - 15px); }
        [data-page="home"] .photo-grid .grid-item:nth-child(2n) {
          margin-right: 0; } }

.ta-center {
  text-align: center; }

.ta-left {
  text-align: left; }

strong {
  font-weight: bold; }

.font-size-m {
  font-size: 20px; }

.mt-xs {
  margin-top: 50px; }

.mb-none {
  margin-bottom: 0; }

.mr-sm {
  margin-right: 35px; }

.mb-xxs {
  margin-bottom: 4px; }

.mb-xs {
  margin-bottom: 8px; }

.mb-sm {
  margin-bottom: 20px; }

.mb-m {
  margin-bottom: 50px; }

.mb-lg {
  margin-bottom: 70px; }

.grid-sm {
  width: 420px; }

.grid-m {
  width: 490px; }

.grid-lg {
  width: 655px; }

.show {
  display: block !important; }

.show-inline {
  display: inline !important; }

.hide {
  display: none !important; }

.overflow-hidden {
  overflow: hidden; }

@media only screen and (max-width: 840px) {
  .grid-lg,
  .grid-m,
  .grid-sm {
    width: auto;
    padding: 0 20px; }
  .mobile-mb-sm {
    margin-bottom: 20px; }
  .mobile-mt-none {
    margin-top: 0; }
  .mobile-mt-sm {
    margin-top: 20px; }
  .mobile-ta-center {
    text-align: center; } }
